config/app_config.yml
config/database.yml
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
*.esproj
_notes*
dwsync.xml
podcast.xml
*.kpf
*uploads/*
*.swp
*.idea
*.sublime-project
*.sublime-workspace
