/* Here be the CSS for the Admin Options Panel */

/* General Layout Stles */
.cmnz_input{margin:10px 0; clear:both; display:block; overflow:auto;}
    .cmnz_input label{float:left; display:block; width:200px;}
    .cmnz_input textarea, .cmnz_input input{width:50%; margin:0 10px 0 0;}
    .cmnz_input small{width:200px; display:block; float:right;}

/* Styles of Speific Inputs */
    .cmnz_input textarea{height:150px;}