/* LAYOUT */
/* ----------------------------------------- */

/* stock presentation items */
.required, .error {color:red;}
input[type=submit]{cursor:pointer;}

/* === SITE WIDE === */

    /*** LINKS ***/
    a{text-decoration:none; padding:2px;
        &:hover,
        &:active,
        &:focus{text-decoration:underline;}
	} // a

    /*** HEADINGS ***/
    h1{@include heading-one();}
    h2{@include heading-two();}
    h3{@include heading-three();}
    h4{@include heading-four();}
    h5{@include heading-five();}
    h6{@include heading-six();}

    /*** TYPOGRAPHY ***/
    body{font-family:$main-font; font-size:16px;}

/* === HEADER === */

/* === MENU === */

/* === CONTENT === */

    /*** ARTICLE ***/
    article{
        font-size:16px; line-height:1.5em;

        p{@include paragraph;}

        ol{@include list-styles;
            li{@include number-list-styles;}
        } // ol

        ul{@include list-styles;
            li{@include list-item-styles;}
        } // ul

        blockquote{@include blockquote-styles;}

    } // article

    /*** STICKY ***/
    .sticky{}

    /*** IMAGES AND CAPTIONS ***/
    .aligncenter{@include aligncenter();}
    .alignleft{@include alignleft();}
    .alignright{@include alignright();}

        /* captions */
        .wp-caption{
			border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px auto 10px auto;

			&.alignleft{@include alignleft();}
			&.alignright{@include alignright();}

		} // .wp-caption

        .wp-caption-text{}
        .gallery-caption{}

/* === COMMENTS === */
.bypostauthor{}

    /*** USER COMMENTS ***/
    .comment-body{
		font-size:16px; line-height:1.5em;

        p{@include paragraph;}

        ol{@include list-styles;
            li{@include number-list-styles;}
        } // ol

        ul{@include list-styles;
            li{@include list-item-styles;}
        } // ul

        blockquote{@include blockquote-styles;}

	} // .comment-body

/* === FOOTER === */
