/**
    Holds all the vars that we will use with LESS.css
**/

/* === FONTS === */
$main-font:Arial;
$secondary-font:Times;
$base-color:#444;

@mixin base_fonts{
	font-family:$main-font;
    font-size:16px; line-height:1.5em;
    color:$base-color;
} // base_fonts

/* === COLORS === */

/* === BASIC TEXT STYLES === */
@mixin link-styles{
	text-decoration:none; padding:2px;
	color:$base-color * 2;

	&:hover,
	&:active,
	&:focus{
		text-decoration:underline;
		cursor:pointer;
	}
} // link-styles

@mixin paragraph{margin:0 0 10px 0;}

@mixin list-styles{margin:10px 0 10px 20px;}
@mixin list-item-styles{margin:8px 0; list-style-type:disc; list-style-position:inside;}
@mixin number-list-styles{@include list-item-styles(); list-style-type:decimal;}
@mixin dl-styles{@include list-styles;}
@mixin dd-styles{margin-bottom:20px; padding:0 10px 0 20px;}
@mixin dt-styles{font-weight:700;}

@mixin tables{
	width:100%;
	margin:30px 0;

	th, td{
		padding:5px;
		border:1px solid #333;
	} // th, td

	th{
		text-align:center;
	}// th

} // tables

@mixin blockquote-styles{margin:15px 30px; padding:20px;}

/**
 * Defines our basic content styles for the article and comment content
 */
@mixin content-styles{

	@include base_fonts;

	a{@include link-styles;}

	p{@include paragraph;}

	ol{@include list-styles;
		li{@include number-list-styles;}
	} // ol

	ul{@include list-styles;
		li{@include list-item-styles;}
	} // ul

	dl{@include dl-styles;
		dt{@include dt-styles;}
		dd{@include dd-styles;}
	} // dd

	table{@include tables;}

	blockquote{@include blockquote-styles;}
} // content-styles

/* === HEADINGS === */
@mixin heading-one{font-weight:bold; font-size:1.8em; margin:0 0 25px 0;}
@mixin heading-two{font-weight:bold; font-size:1.6em; margin:0 0 20px 0;}
@mixin heading-three{font-weight:bold; font-size:1.4em; margin:0 0 15px 0;}
@mixin heading-four{font-size:1.2em; margin:0 0 10px 0;}
@mixin heading-five{margin:0 0 8px 0;}
@mixin heading-six{margin:0 0 8px 0;}

/* === GRADIENTS === */

/* === BUTTONS === */

/* === MISC === */
.required, .error {color:red;}

@mixin alignleft{float:left; margin-right:10px;}
@mixin alignright{float:right; margin-right:10px;}
@mixin aligncenter{display:block;}

@mixin all-round( $radii ){
	@include border-top-radius( $radii );
	@include border-bottom-radius( $radii );
	@include border-left-radius( $radii );
	@include border-right-radius( $radii );
} // all-round
