/* LAYOUT */
/* ----------------------------------------- */

/*

    TODO: if you code editor supports it add them here

*/

/* Stock Wordpress Presentational items. Used to align images in posts and provide captions on images */
    .aligncenter{display:block; margin:0 auto}
    .alignleft{float:left }
    .alignright{float:right }
    .wp-caption{border:1px solid #666; text-align:center; background:#ccc; padding:10px; margin:10px;}
    div.post div.wp-caption a:hover{background:none;} /* removes image hover backgrdom inherited from links */

/* stock presentation items */
    .clear{clear:both;}
    .required, .error {color:red;}
    input[type=submit]{cursor:pointer;}

/* === SITE WIDE === */

    /*** HEADINGS ***/
        h1{font-weight:bold; font-size:1.8em;}
        h2{font-weight:bold; font-size:1.6em;}
        h3{font-weight:bold; font-size:1.4em;}
        h4{font-size:1.2em;}

    /*** TYPOGRAPHY ***/
        body{font-family:Univers, Arial, Helvetica, sans-serif; font-size:11px;}

/* === HEADER === */

/* === MENU === */

/* === CONTENT === */

/* === FOOTER === */